[Unit]
Description=min.waf Service
After=network.target iptables.service firewalld.service ip6tables.service ipset.service nftables.service

[Service]
Type=simple
ExecStart=/usr/sbin/min.waf.py
PIDFile=/run/run/min.waf.pid
KillSignal=SIGINT
Restart=on-failure
RestartPreventExitStatus=0 255
LimitNOFile=65536

[Install]
WantedBy=multi-user.target
